.main-work-featured-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 150px 30px;
    .main-top-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .top-header {
            font-weight: 700;
            font-size: 45px;
            letter-spacing: 0.02em;
            color: $primary-color-100;
        }
        .top-icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: $primary-color-360;
            box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.11);
            margin: 25px 0;
            padding: 0 40px;
            border-radius: 10px;
            .icon {
                margin: 15px 20px;
            }
        }
    }
    .main-bottom-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-side-wrapper {
            padding-right: 95px;
            .title-content {
                margin-top: 165px;
                font-weight: 500;
                font-size: 30px;
                letter-spacing: 0.02em;
                color: $primary-color-100;
            }
            .description-content {
                margin-top: 35px; 
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.02em;
                color: $primary-color-100;
            }
            .list-content {
                margin-top: 45px;
                .list {
                    display: flex;
                    .list-text{
                        margin: 10px 15px;
                        font-weight: 400;
                        font-size: 18px;
                        letter-spacing: 0.02em;
                        color: $primary-color-100;
                    }
                }
            }
            .data-container {
                display: flex;
                align-items: center;
                margin-top: 40px;
                .data-content {
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 40px;
                    margin-right: 65px;
                    .left-milestone{
                        color: $primary-color-200;
                    }
                    .right-milestonr {
                        color: $primary-color-300;
                    }
                    .data-type {
                        font-weight: 400;
                        font-size: 18px;
                        color: $primary-color-100;
                    }
                }
            }
            .explore-now {
                margin-top: 40px;
                font-weight: 500;
                font-size: 18px;
                padding: 12px 35px;
                font-family: 'Inter';
                text-transform: none;
                color: $primary-color-400;
                background: $primary-color-300;
                box-shadow: 0px 4px 12px rgba(46, 196, 182, 0.48);
                border-radius: 10px;
            }
        }
        .right-side-wrapper {
            display: flex;
            .featured-card-component {
                padding: 25px 20px 30px;
                margin: 25px 10px;
                width: 230px;
                height: 275px;
                background: $primary-color-400;
                border-radius: 25px;
                border: 1px solid $primary-color-200;
                box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.06);
                .logo {
                    padding: 25px;
                    background: $primary-color-210;
                    border-radius: 12px;
                }
                .title {
                    margin-top: 30px;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 30px;
                    color: $primary-color-100;
                }
                .description {
                    margin-top: 10px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    letter-spacing: 0.02em;
                    color: $primary-color-100;
                }
                .more {
                    margin-top: 22px;
                    font-weight: 400;
                    font-size: 18px;
                    color: $primary-color-200;
                }
                &.blue {
                    background: $primary-color-320;
                    border: 1px solid $primary-color-300;
                    .logo {
                        background: $primary-color-310;;
                    }
                    .more {
                        color: $primary-color-300;
                    }
                }
            }
            .left-block-container {
                margin-top: 45px;
            }
            .right-block-container {
                margin-top: 145px;
            }
        }
    }
}