* {
    font-family: 'Inter';
    font-style: normal;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #FFE6E6 0%, #F5FFFE 26.81%, #FCF3FF 54.58%, #FFF4E6 99.86%);
  padding: 60px 150px 0 150px;
  .left-block-container {
    .text-header {
      font-weight: 700;
      font-size: 65px;
      text-transform: uppercase;
      color: $primary-color-100;
      .marketing {
        color: $primary-color-200;
      }
    }
    .text-title {
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0.02em;
        color: $primary-color-100;
        margin-top: 40px;
    }
    .text-discription {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $primary-color-100;
        margin-top: 40px;
    }
    .button-section {
      display: flex;
      align-items: center;
      margin-top: 70px;
      .start-button {
        background: $primary-color-200;
        text-transform: inherit;
        border-radius: 62px;
        padding: 10px 44px;
        font-size: 20px;
      }
      .play-button {
        margin-left: 35px;
        background: transparent;
        border-radius: 1px;
      }
      .watch-video {
        margin-left: 15px;
        font-weight: 500;
        font-size: 20px;
        text-decoration-line: underline;
        color: $primary-color-200;
      }
    }
  }
  .right-block-container {
    .mark-boy {
      border-radius: 250px 250px 10px 10px;
      z-index: 10;
      position: relative;
      top: 0;
      right: 0;
    }
    .mark-ring {
      position: absolute;
      top: 267px;
      right: 145px;
    }
  }
}