* {
    font-family: 'Inter';
    font-style: normal;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #FFE6E6 0%, #F5FFFE 26.81%, #FCF3FF 54.58%, #FFF4E6 99.86%);
  padding: 60px 150px 0;
  .left-block-container {
    padding-right: 52px;
    .text-header {
      font-weight: 700;
      font-size: 65px;
      text-transform: uppercase;
      color: $primary-color-100;
      .marketing {
        color: $primary-color-200;
      }
    }
    .text-title {
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0.02em;
        color: $primary-color-100;
        margin-top: 40px;
    }
    .text-discription {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: $primary-color-100;
        margin-top: 40px;
    }
    .button-section {
      display: flex;
      align-items: center;
      margin-top: 70px;
      .start-button {
        background: $primary-color-200;
        font-family: 'Inter';
        text-transform: inherit;
        border-radius: 62px;
        padding: 10px 45px;
        font-size: 20px;
      }
      .play-button {
        margin-left: 35px;
        background: transparent;
        border-radius: 1px;
      }
      .watch-video {
        margin-left: 15px;
        font-weight: 500;
        font-size: 20px;
        text-decoration-line: underline;
        color: $primary-color-200;
      }
    }
  }
}

$breakpoint-1340: 1340px;
@media (max-width: $breakpoint-1340) {
  .main-container {
    padding: 60px 100px 0;
    zoom: 0.9;
  }
}

$breakpoint-1200: 1200px;
@media (max-width: $breakpoint-1200) {
  .main-container {
    padding: 60px 80px 0;
  }
}

$breakpoint-1120: 1120px;
@media (max-width: $breakpoint-1120) {
  .main-container {
    zoom: 0.8;
  }
}

$breakpoint-960: 960px;
@media (max-width: $breakpoint-960) {
  .main-container {
    zoom: 0.7;
    flex-wrap: wrap;
    padding: 70px 50px 0;
    .left-block-container {
      padding-right: 0;
      .text-header {
        font-size: 60px;
      }
      .text-title {
          font-size: 22px;
      }
      .text-discription {
          font-size: 15px;
      }
      .button-section {
       justify-content: flex-start;
        .play-button {
          padding: 10px;
          margin-left: 0;
        }
        .watch-video {
          margin-left: 0;
        }
      }
    }
    .right-block-container {
      padding-right: 40px;
    }
  }
}

$breakpoint-550: 550px;
@media (max-width: $breakpoint-550) {
  .main-container {
    padding: 70px 30px 0;
    zoom: 0.6;
  }
}