* {
    font-family: 'Inter';
    font-style: normal;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #FFE6E6 0%, #F5FFFE 26.81%, #FCF3FF 54.58%, #FFF4E6 99.86%);
  .left-block-container {
    .text-header {
      font-weight: 700;
      font-size: 65px;
      line-height: 135%;
      text-transform: uppercase;
      color: $primary-color-100;
      margin: 199px 0 0 150px;
      span {
        color: $primary-color-200;
      }
    }
    .text-title {
        font-weight: 500;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.02em;
        color: $primary-color-100;
        margin: 40px 0 0 150px;
    }
    .text-discription {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: $primary-color-100;
        margin: 40px 0 0 150px;
    }
    .button-section {
      display: flex;
      align-items: center;
      margin: 71px 0 50px 150px;
      button {
        background: $primary-color-200;
        border-radius: 62px;
        border-style: none;
        padding: 14px 44px;
        font-size: 20px;
        line-height: 24px;
        color: $primary-color-400;
      }
      img {
        margin-left: 33px;
        height: 52px;
        width: 52px;
        background: $primary-color-400;
        border-radius: 1px;
      }
      div {
        margin-left: 13px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
        color: $primary-color-200;
      }
    }
  }
  .right-block-container {
    margin: 35px 161px 0 0;
    .mark-boy {
      border-radius: 250px 250px 10px 10px;
      z-index: 1;
      position: relative;
      top: 0;
      right: 0;
    }
    .mark-ring {
      position: absolute;
      top: 245px;
      right: 156px;
    }
  }
}