.app-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #FFE6E6 0%, #F5FFFE 26.81%, #FCF3FF 54.58%, #FFF4E6 99.86%);
  padding: 15px 150px 0;
  .app-name-wrapper {
    display: flex;
    align-items: center;
    .app-name {
      color: $primary-color-200;
      font-weight: 900;
      font-size: 65px;
      cursor: pointer;
    }
  }
  .menu-items-list {
    display: flex;
    align-items: center;
    position: relative;
    .nav-link {
      color: $primary-color-100;
      margin: 0 10px;
      padding: 0;
      font-weight: 400;
      font-size: 18px;
      text-transform: none;
      font-family: 'Inter';
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: relative;
    }
    .nav-link::after {
      content: '';
      height: 2px;
      width: 0;
      background: $primary-color-200;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.2s;
    }
    .nav-link:hover::after {
       width: 100%;
    }
    .mui-button {
      text-transform: none;
      font-family: 'Inter';
      padding: 10px 45px;
      margin-left: 25px;
      background: $primary-color-200;
      border-radius: 48px;
      font-size: 18px;
      color: $primary-color-400;
    }
  }
}