.portfolio-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 130px;
    .portfolio-header {
        font-weight: 700;
        font-size: 45px;
        letter-spacing: 0.025em;
        color: $primary-color-100;
    }
    .navigation-bar {
        margin: 55px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-text {
            font-weight: 400;
            font-size: 18px;
            color: $primary-color-100;
            text-transform: none;
            background: transparent;
            margin: 0 25px;
            cursor: pointer;
            position: relative;
        }
        .nav-text::after {
            content: '';
            height: 2px;
            width: 0;
            background: $primary-color-200;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.2s;
          }
          .nav-text:hover::after {
             width: 100%;
          }
    }
    .portfolio-cards-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .portfolio-card {
            margin: 10px;
        }
    }
    .view-more {
        margin-top: 80px;
        padding: 15px 42px;
        font-weight: 500;
        font-size: 18px;
        font-family: 'Inter';
        text-transform: none;
        color: $primary-color-400;
        background: $primary-color-300;
        box-shadow: 0px 4px 12px rgba(46, 196, 182, 0.48);
        border-radius: 10px;
    }
}

   
$breakpoint-1340: 1340px;
@media (max-width: $breakpoint-1340) {
    .portfolio-main-container {
        padding: 35px 100px;
        .navigation-bar {
            .nav-text {
                margin: 0 20px;
            }
            .nav-text::after {
                bottom: -5px;
            }
        }
    }
}

$breakpoint-1120: 1120px;
@media (max-width: $breakpoint-1120) {
  .portfolio-main-container {
    padding: 35px 80px;
    zoom: 0.9;
  }
}

$breakpoint-900: 900px;
@media (max-width: $breakpoint-900) {
  .portfolio-main-container {
    padding: 35px 50px;
    zoom: 0.8;
    .navigation-bar {
        .nav-text {
            margin: 0 10px;
        }
        .nav-text::after {
            bottom: -3px;
        }
    }
  }
}

$breakpoint-620: 620px;
@media (max-width: $breakpoint-620) {
  .portfolio-main-container {
    padding: 35px 30px;
    zoom: 0.7;
    .navigation-bar {
        .nav-text {
            margin: 0 5px;
        }
        .nav-text::after {
            bottom: -2px;
        }
    }
  }
}