.case-study-container {
    padding: 40px 150px;
    .top-case-study-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title-content {
            font-weight: 500;
            font-size: 25px;
            color: $primary-color-200;
        }
        .swipe-button-container {
            .previous-button {
                padding: 10px 12px;
                background: $primary-color-355;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
                border-radius: 6px;
                cursor: pointer;
            }
            .next-button {
                margin-left: 15px;
                padding: 10px 12px;
                background: $primary-color-200;
                box-shadow: 0px 4px 6px rgba(231, 29, 54, 0.2);
                border-radius: 6px;
                cursor: pointer;
            }
        }
    } 
    .bottom-case-study-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .left-side-container {
            padding-right: 20px;
            .sub-title-content {
                font-weight: 700;
                font-size: 45px;
                line-height: 60px;
                color: $primary-color-100;
            }
            .description-content {
                margin-top: 25px;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 0.02em;
                color: $primary-color-100;
            }
        }
        .right-side-container {
            display: flex;
            justify-content: space-between;
            .client-card-component {
                display: flex;
                align-items: baseline;
                margin-left: 20px;
                .tag {
                    position:absolute;
                    margin: 262px 12px 15px; 
                }
            }
        }
    }   
}
    
