$primary-color-100: #011627;
$primary-color-200: #E71D36;
$primary-color-210:#FFECEA;
$primary-color-220:#f5d4d0;
$primary-color-300: #2EC4B6;
$primary-color-310:#D2FFFB;
$primary-color-320:#F7FFFE;
$primary-color-350: #D9D9D9;
$primary-color-355: #FFF3F5;
$primary-color-360: #FFFBFB;
$primary-color-370: #FFF8F8;;
$primary-color-380: #F8FFFE;
$primary-color-390: #c3ece6;
$primary-color-400: #FFFFFF; 

$success-color: #008000;
$warning-color: #e5690e;
$error-color: #800000;