.main-footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 60px 150px;
  background: linear-gradient(90deg, rgba(255, 230, 230, 0.52) 0%, rgba(245, 255, 254, 0.52) 26.81%, rgba(252, 243, 255, 0.52) 54.58%, rgba(255, 244, 230, 0.52) 99.86%);
  .top-footer-container {
    .footer-logo {     
      font-weight: 700;
      font-size: 65px;
      color: $primary-color-200;
    }
  }
  .middle-footer-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    .left-block-footer {
      font-weight: 400;
      font-size: 18px;
      line-height: 35px;
      letter-spacing: 0.02em;
      color: $primary-color-100;
      .social-media-icons {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        img {
          cursor: pointer;
          margin-right: 65px;
        }
      }
    }
    .middle-block-footer {
      padding: 0 115px;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $primary-color-300;   
      .main-list {
        margin-top: 40px;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.02em;
        text-transform: none;
        color: $primary-color-100;
        .list {
          margin: 20px 0;
        }
      }
    }
    .right-block-footer {
      padding: 0 50px;
      font-weight: 600;
      font-size: 25px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $primary-color-300;
      .right-sub-block-footer {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .sub-block {
          display: flex;
          text-transform: none;
          margin-top: 20px;
          .footer-news {
            height: 100px;
            width: 100px;
          }
          .sub-block-right-side {
            margin-left: 20px;
            .tag {
              font-weight: 500;
              font-size: 18px;
              color: $primary-color-300;
            }
            .description {
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: $primary-color-100;
              margin-top: 8px;
            }
            .date {
              font-weight: 400;
              font-size: 10px;
              letter-spacing: 0.055em;
              color: $primary-color-200;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
  .bottom-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: $primary-color-100;
    span {
      color: $primary-color-300;
    }
  }
}
